body {
  margin: 0
}

#app {
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "searchbar searchbar" "video results"
}

#search-bar{
  grid-area: searchbar;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar input {
  height: 80%;
  text-align: center;
  font-size: 100%;
}

#search-bar input[type="text"] {
  width: 60%;
}

#search-bar input[type="submit"] {
  border: none;
  margin-left: 10px;
  width: 20%;
  background-color: grey;
  color: white;
}

#video-container {
  grid-area: video;
  background-color: green;
}

#results-container {
  grid-area: results;
  overflow-y: scroll;
}

.video-item {
  border-radius: 1em;
  display: grid;
  grid-template-columns: minmax(150px, 35%) auto;
  grid-gap: 5px;
  margin-bottom: 5px;
  overflow:hidden;
}

.video-item > img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
